/* custom properties */
:root {
  --body-background-color: #04b6e2;
  --topBar-height: 5.8em;
}

@font-face {
  font-family: PolarisMedium;
  src: url(../assets/webfont/Polaris_V2_Medium.otf);
}

#hero,
.logo {
  background-color: var(--body-background-color);
}

.top-bar {
  height: var(--topBar-height);
  background-color: var(--body-background-color);
}

.top-bar .toggle-topbar.menu-icon {
  margin-top: 3em;
}

.zurb-logo {
  height: var(--topBar-height);
}

.top-bar-section ul,
.top-bar-section ul a {
  background: var(--body-background-color) !important;
}

.top-bar-section ul a {
  opacity: 0.9;
}

.top-bar-section ul a:hover {
  opacity: 1;
}


.top-bar.expanded .toggle-topbar a {
  color: white;
}

.top-bar.expanded .toggle-topbar a span {
  box-shadow: 0 10px 0 1px rgba(255,255,255,0.9), 0 16px 0 1px rgba(255,255,255,0.9), 0 22px 0 1px rgba(255,255,255,0.9);
}

@media screen and (min-width: 28.75em) {

}

@media screen and (min-width: 40.063em) {
  .top-bar-section ul a {
    font-size: 0.705em !important;
    padding: 3.45em 1.25em 0 1.25em !important;
    cursor: pointer;
  }

  .logo {
    top: -2px;
    position: absolute;
  }
}

@media screen and (min-width: 64.063em) {

  .top-bar-section ul li > a {
    font-family: PolarisMedium;
  }

  .top-bar-section ul,
  .top-bar-section ul a {
    background: transparent !important;
  }

  .top-bar-section ul a {
    font-size: 0.805em !important;
    padding: 3.05em 1.25em 0 1.25em !important;
  }

  .top-bar .name a {
    margin-right: 2.4em;
    margin-left: 9.8em;
  }

  .top-bar {
    padding: 0 8.8em 0 9.8em;
  }
}