/* custom properties */
:root {
  --body-background-color: #04b6e2;
  --topBar-height: 60px;
  --opacityLinksColor: rgba(255,255,255,0.9);
}

@font-face {
  font-family: PolarisMedium;
  src: url(../assets/webfont/Polaris_V2_Medium.otf);
}

@font-face {
  font-family: PolarisLight;
  src: url(../assets/webfont/Polaris_V2_Light.otf);
}

@font-face {
  font-family: PolarisBook;
  src: url(../assets/webfont/Polaris_V2_Book.otf);
}

/* NAVBAR */

/* top-bar */
.top-bar {
  height: var(--topBar-height);
  line-height: var(--topBar-height);
  background: var(--body-background-color);
}

.top-bar.expanded {
  background: var(--body-background-color);
}

.top-bar-section ul,
.top-bar-section ul a {
  background: var(--body-background-color) !important;
}

.top-bar-section ul li > a {
  padding-left: 27px;
  opacity: 0.9;
}

.top-bar-section ul li > a:hover {
  opacity: 1;
}

.top-bar.expanded .toggle-topbar a {
  color: white;
}

.top-bar.expanded .toggle-topbar a span {
  box-shadow: 0 10px 0 1px var(--opacityLinksColor), 0 16px 0 1px var(--opacityLinksColor), 0 22px 0 1px var(--opacityLinksColor);
}

.top-bar .toggle-topbar.menu-icon {
  margin-top: 20px;
}

.top-bar .toggle-topbar.menu-icon a {
  width: 18px;
}

/* logo */
.logo {
  float: left;
  margin-top: -2px;
}

.logo a {
  background-image: url(../assets/images/logo.svg);
  background-size: 122px var(--topBar-height);
  width: 122px;
  height: var(--topBar-height);
  display: block;
  background-repeat: no-repeat;
}

/* HERO */
#hero {
  background: var(--body-background-color);
  padding-top: 1em;
  padding-bottom: 2.5em;
}

#hero .main-text {
  text-align: center;
}

#hero .main-text h1 {
  color: #fff;
  font-family: PolarisLight;
  font-size: 1.6125rem;
}

/* PAGE CONTENT */
#page-content {
  padding: 1em 0 2.5em 0.75em;
}

#page-content .feature-text h2,
#page-content .feature-text p,
#page-content .centered-text p {
  font-family: PolarisBook;
}

#page-content .feature-text h2 {
  font-size: 1.2125rem;
}

#page-content .small-8.feature-text {
  float: left;
}

#page-content .feature-text p,
#page-content .centered-text p {
  font-size: 0.6rem;
  line-height: 1.3rem;
  color: #828282;
}

#page-content .medium-4.columns {
  text-align: center;
}

#page-content .centered-text {
  text-align: center;
}

#page-content .centered-text img {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 28.75em) {

}

@media screen and (min-width: 40.063em) {

  /* NAVBAR */

  /* top-bar */
  .top-bar-section ul li > a {
    font-size: 0.705em;
    padding: 1.35em 1.25em 0 1.25em !important;
    cursor: pointer;
    font-family: PolarisMedium;
  }

  /* HERO */
  #hero .main-text h1 {
    font-size: 2.0125rem;
  }

  /* PAGE CONTENT */
  #page-content .feature-image img {
    padding: 2em;
  }
}

@media screen and (min-width: 64.063em) {

  /* NAVBAR */

  /* top-bar */
  .top-bar-section ul,
  .top-bar-section ul a {
    background: transparent !important;
  }

  .top-bar .name a {
    margin-right: 2.4em;
    margin-left: 9.8em;
  }

  .top-bar {
    padding: 0 8.8em 0 9.8em;
  }
}